.loadingbar{
    width: 300px;
    height: 30px;
    border: 2px solid #000;
}

.innerbar{
    background-color: blue;
    height: 30px;
    width: 0px;
    transition: width  5s ease-out;
    transition-delay: 0s;
}

.loadingbar:hover .innerbar{
    width: 300px;
}

/*
linear - თანაბარი სიჩქარით შეივსება  
ease-in - თავიდან დაიწყებს ნელა და მერე აჩქარდება 
ease-out - პირიქით თავიდან ცქარა შეივსება და ბოლოში ნელა 
ease - არის default - по умолчанию
*/